*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 1px  2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
}
header .logo img{
width: 100px;
}
header .search-bar{
    flex: 1;
    display: flex;
    margin: 0 20px;
    max-width: 600px;
}
header .search-bar input{
    width: 100%;
    padding: 8 12 px;
    border: 1px solid#ccc;
    border-radius: 30px 0 0 30px;
    outline: none;
}
header .search-bar button{
    background-color: #f1f1f1;
    border: 1px solid#ccc;
    border-left: none;
    border-radius: 0 30px 30px 0;
    padding: 8px 12px;
    cursor: pointer;
}
header .search-bar button:hover{
    background-color: #ddd;
}
header .header-icons{
    display: flex;
    align-items: center;
}
header .header-icons i{
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
    color: #606060;
}

/* hamburger icon */
.menu-toggle{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #606060;
    position: relative;
    width: 25px;
    margin-right: 10px;
}
.menu-toggle .fa-bars{
    display: inline-block;
}
.menu-toggle .fa-times{
display: none;
}
.menu-toggle.close .fa-bars{
    display: none;
}
.menu-toggle.close .fa-times{
    display: inline-block;
}

/* sidebar section */

.sidebar{
    width: 240px;
    position: fixed;
    top:50px;
    left: 0;
    background-color: #fff;
    padding-top: 20px;
   height: 100%;
   border-right: 1px solid#ddd;
   overflow-y: auto;
   padding: 10px 0 20px 0;
   scrollbar-width: none;
   transition:transform 0.3s ease-in-out;
   
}
.sidebar.hidden{
    transform: translateX(-100%);
}
.sidebar.visible{
    transform: translateX(0);
}


.sidebar nav ul{
    list-style: none;
}
.sidebar nav ul li{
    padding: 10px 20px;
}
.sidebar nav ul li:hover{
    background-color: #f2f2f2;
}
.sidebar nav ul li i{
    font-size: 20px;
    margin-right: 10px;
    color: #090000;
}
.sidebar nav ul hr{
    margin: 10px 0;
    border: 0.5px solid#ddd;
}
.sidebar nav ul .section-title{
    margin: 10px 20px;
    font-size: 14px;
    color: black;
}
/* main content */
main{
    margin-left: 260px;
    margin-top: 60px;
    padding: 20px;
}
.tags{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
    scrollbar-width: none;
}
.tags button{
    padding: 8px 12px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}
.tags button:hover{
    background-color: #ddd;
}
.active{
    background-color: #ddd !important;
}
/* video grid */
.video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}
.video-card{
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition:box-shadow 0.3s ease;
}
.video-card:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.thumbnail{
    width: 100%;
    display: block;
    border-bottom: 1px solid#ddd;
}
.video-info{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.channel-logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.text-info{
    flex: 1;
}
.text-info h3{
    font-size: 14px;
    color: #333;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.text-info .channel-name{
    font-size: 12px;
    color: #606060;
    margin: 0;
}
.text-info .vide0-meta{
font-size: 12px;
color: #606060;
margin-top: 0;
}
 /* responsive design */

@media (max-width:980px) {
    .sidebar{
        width: 40%;
        transform: translateX(-100%);
    }
    .menu-toggle{
        display: block;
    }
    main{
        margin-left: 0;
    }

}
@media (max-width:768px) {
    header .logo img{
        width: 70px;
    }
    header .search-bar input{
        font-size: 12px;
        padding: 6px 10px;
    }
    header .search-bar button{
       
        padding: 6px 10px;
    }
    header .header-icons i{
        font-size: 16px;
    }
    .sidebar nav ul li i{
        font-size: 16px;
    }
    .sidebar nav ul li {
        padding: 8px 16px;
    }
    .sidebar nav ul .section-title{
        font-size: 12px;
    }
    .video-grid{
        grid-template-columns: repeat(auto-fit,minmax(250px,fr));
    }
    .video-card .text-info h3{
        font: 15px;
    }
    .video-card .text-info .channel-name 
    .video-card .text-info .video-meta{
        font-size: 12px;
    }
    .channel-logo{
        width: 25px;
        height: 25px;
    }
}